
@{
    Layout = null;
}

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Kargo Şirketi Sistem Girişi</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sign-in.css" rel="stylesheet" />
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="form-signin w-100 m-auto">
        @using (Html.BeginForm("Index", "Giris", FormMethod.Post))
        {
            <h1 class="h3 mb-3 fw-normal">Şirket sistemi girişi</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="kullaniciAd" name="kullaniciAd" placeholder="Kullanıcı Adı">
                <label for="kullaniciAd">Kullanıcı Adı</label>
            </div>
            <br />
            <div class="form-floating">
                <input type="password" class="form-control" id="parola" name="parola" placeholder="Parola">
                <label for="parola">Parola</label>
            </div>
            <hr />
            <button class="btn btn-primary w-100 py-2" type="submit">Giriş Yap</button>
            <br /><br />
            if (ViewBag.mesaj != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.mesaj
                </div>
            }
        }
    </main>
</body>
</html>